@echo off
cd /d "C:\absolute\path\to\project"

:: Optional: Prevent the PC from entering sleep mode (execution request)
:: powercfg /requestsoverride process node.exe display system

:: Execute the process
npm run daily >> cron.log 2>&1

:: Optional: Go back to sleep immediately after finishing
:: Rundll32.exe powrprof.dll,SetSuspendState Sleep